$color-accent-100:#fcfeff;
$color-accent-500:#0fd853;
$color-nuetral-200:#6b7ca0;
$color-nuetral-500:#3e485c;
$color-nuetral-800:#303747;
// Resize friendly
$center-width: calc(min(1000px, 90%));
*,
*::before,
*::after {
    box-sizing: border-box;
}

// ! General Styles
body {
    font-family: monospace;
    height: 100vh;
    width: 100vw;
    line-height: 1.6;
    background-color: $color-nuetral-800;
    color: $color-accent-100;
    overflow: hidden;
}

.accent {
    color: $color-accent-500
}

h1 {
    font-size: 10em;
    padding: 0px;
    padding-left: 12px;
    margin-top: .05em;
    margin-bottom: 0px;
    color: white;
    text-transform: uppercase;
}

.sublead {
    font-size: 2em;
}

.caps {
    text-transform: uppercase;
}

// ! Snapable area
.main-container {
    width: 100vw;
    height: 100vh;
    /* background-color: var(--clr-neutral-800); */
    /* snapping */
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    overflow-x: hidden;
    // Make a little  bar in between each of the sections 
    &>section::after {
        $size: calc(min(25em, 50%));
        position: absolute;
        content: "";
        bottom: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: $size;
        background-color: $color-accent-500;
        height: 3px;
    }
    // Enable the scrolling behavior
    &>section {
        &>.section-container {
            /* width: calc(100% - 10em); */
            color: wheat;
            padding-left: 4em;
            padding-right: 2em;
            width: $center-width;
        }
        /* width: calc(100% - 10em); */
        /* Align all of the sections vertically */
        position: relative;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: center; */
        min-height: 100vh;
        width:100%;
        padding-bottom: 5em;
        // margin: 0 auto;
        /* scrolling */
        scroll-snap-align: start;
    }
}

// ! Main (IE one with face) 
#main {
    background-image: url(./images/richard-horvath-_nWaeTF6qo0-unsplash.jpg);
}