.card-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25ch, auto))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(25ch, auto));
  grid-auto-rows: auto;
  grid-gap: 1rem;
}

.card {
  color: #f8fcf9;
  background-size: cover;
  padding: 8rem 0 0;
  max-width: 35ch;
  height: 600px;
  border-radius: 1em;
  overflow: hidden;
}

.card .card-content {
  padding: 1rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(4, 70, 27, 0)), color-stop(rgba(4, 70, 27, 0.5)), color-stop(#272d3a), to(#272d3a));
  background: linear-gradient(rgba(4, 70, 27, 0), rgba(4, 70, 27, 0.5), #272d3a, #272d3a);
  height: 600px;
  overflow: hidden;
  border-radius: 1em;
}

.card .card-content .card-title {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.card .card-content .card-title::before {
  content: "";
  position: absolute;
  left: -1rem;
  bottom: 0;
  height: 100%;
  width: calc(100% + 1.5rem);
  background: #0fd852;
  z-index: -1;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 750ms cubic-bezier(0.21, 1.65, 0.665, -0.6);
  transition: -webkit-transform 750ms cubic-bezier(0.21, 1.65, 0.665, -0.6);
  transition: transform 750ms cubic-bezier(0.21, 1.65, 0.665, -0.6);
  transition: transform 750ms cubic-bezier(0.21, 1.65, 0.665, -0.6), -webkit-transform 750ms cubic-bezier(0.21, 1.65, 0.665, -0.6);
}

.card .card-content .card-body {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 350px;
  color: #f8fcf9;
}

.card .card-content .button {
  cursor: pointer;
  display: inline;
  text-decoration: none;
  color: #04461b;
  background-color: #d0ecd9;
  padding: .5em;
  border-radius: .25em;
}

.card .card-content .button:hover, .card .card-content .button:focus {
  background-color: #a1dab4;
}

@media (hover) {
  .card-content {
    -webkit-transform: translateY(350px);
            transform: translateY(350px);
    -webkit-transition: -webkit-transform 750ms;
    transition: -webkit-transform 750ms;
    transition: transform 750ms;
    transition: transform 750ms, -webkit-transform 750ms;
  }
  .card-content > *:not(.card-title) {
    opacity: 0;
    -webkit-transition: opacity 500ms;
    transition: opacity 500ms;
  }
  .card:hover,
  .card:focus,
  .card:focus-within {
    -webkit-transform: scale(1.01);
            transform: scale(1.01);
    -webkit-transition: -webkit-transform 750ms;
    transition: -webkit-transform 750ms;
    transition: transform 750ms;
    transition: transform 750ms, -webkit-transform 750ms;
  }
  .card:hover .card-title::before,
  .card:focus-within .card-title::before {
    -webkit-transform: scaleX(100%);
            transform: scaleX(100%);
  }
  .card:hover .card-content,
  .card:focus-within .card-content {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transition-delay: 200ms;
            transition-delay: 200ms;
  }
  .card:focus-within .card-content {
    -webkit-transition-duration: 0ms;
            transition-duration: 0ms;
  }
  .card:hover .card-content > *,
  .card:focus-within .card-content > * {
    opacity: 1;
    -webkit-transition-delay: 750ms;
            transition-delay: 750ms;
  }
  .card-title::before {
    -webkit-transform: scaleX(0%);
            transform: scaleX(0%);
  }
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    -webkit-animation-duration: .01ms !important;
            animation-duration: .01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: .01ms !important;
            transition-duration: .01ms !important;
    scroll-behavior: auto !important;
    -webkit-transition-delay: 0ms !important;
            transition-delay: 0ms !important;
  }
}
/*# sourceMappingURL=cards.css.map */