@import '../conf/all';
$card-min-width: 25ch;
$card-max-width: 35ch;
$card-hieght: 600px;
.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(#{$card-min-width}, auto));
    grid-auto-rows: auto;
    grid-gap: 1rem;
}

.card {
    color: $color-accent-100;
    background-size: cover;
    padding: 8rem 0 0;
    max-width: $card-max-width;
    height: 600px;
    border-radius: 1em;
    overflow: hidden;
    .card-content {
        padding: 1rem;
        background: linear-gradient( rgba(4, 70, 27, 0), rgba(4, 70, 27, .5), $color-nuetral-800, $color-nuetral-800);
        height: $card-hieght;
        overflow: hidden;
        border-radius: 1em;
        .card-title {
            position: relative;
            width: fit-content;
            &::before {
                content: "";
                position: absolute;
                left: -1rem;
                bottom: 0;
                height: 100%;
                width: calc(100% + 1.5rem);
                background: $color-accent-500;
                z-index: -1;
                transform-origin: left;
                transition: transform 750ms cubic-bezier(0.210, 1.650, 0.665, -0.600);
            }
        }
        .card-body {
            overflow-y: scroll;
            overflow-x: hidden;
            max-height: 350px;
            color: $color-accent-100;
        }
        .button {
            cursor: pointer;
            display: inline;
            text-decoration: none;
            color: $color-accent-800;
            background-color: $color-accent-200;
            padding: .5em;
            border-radius: .25em;
            &:hover,
            &:focus {
                background-color: $color-accent-300;
            }
        }
    }
}

// Run animations only if hover is supported
@media (hover) {
    .card-content {
        transform: translateY(350px);
        transition: transform 750ms;
    }
    .card-content>*:not(.card-title) {
        opacity: 0;
        transition: opacity 500ms;
    }
    .card:hover,
    .card:focus,
    .card:focus-within {
        transform: scale(1.01);
        transition: transform 750ms;
    }
    .card:hover .card-title::before,
    .card:focus-within .card-title::before {
        transform: scaleX(100%);
    }
    .card:hover .card-content,
    .card:focus-within .card-content {
        transform: translateY(0%);
        transition-delay: 200ms;
    }
    .card:focus-within .card-content {
        transition-duration: 0ms;
    }
    .card:hover .card-content>*,
    .card:focus-within .card-content>* {
        opacity: 1;
        transition-delay: 750ms;
    }
    .card-title::before {
        transform: scaleX(0%);
    }
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: .01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: .01ms !important;
        scroll-behavior: auto !important;
        transition-delay: 0ms !important;
    }
}