$color-accent-100:#f8fcf9;
$color-accent-200:#d0ecd9;
$color-accent-300:#a1dab4;
$color-accent-400:#61c181;
$color-accent-500:#0fd852;
$color-accent-600:#0baa40;
$color-accent-800:#04461b;
$color-nuetral-100:#acb6cc;
$color-nuetral-200:#6b7ca0;
$color-nuetral-500:#3e485c;
$color-nuetral-800:#272d3a;