// Resize friendly
@import 'conf/all';
*:not(body),
*::before,
*::after {
    box-sizing: border-box !important;
    font-family: monospace !important;
}

// ! General Styles
body {
    height: 100vh;
    width: 100vw;
    line-height: 1.6;
    background-color: $color-nuetral-800;
    color: $color-accent-100;
    overflow: hidden;
    margin: 0px !important;
    padding: 0px !important;
    position: relative;
}

h1,
h2,
h3,
h4 {
    line-height: 1em;
    transition: .2s;
}

h1 {
    font-size: 10em;
    @media screen and (max-width: $small-screen) {
        font-size: 5em;
    }
    padding: 0px;
    padding-left: 12px;
    margin-top: .05em;
    margin-bottom: 0px;
    color: $color-accent-100;
    text-transform: uppercase;
}

.accent {
    color: $color-accent-500
}

@keyframes blink {
    from {
        opacity: 1;
        // transform: scaleY();
    }
    49% {
        opacity: 1;
    }
    51% {
        opacity: 0;
    }
    to {
        opacity: 0;
    }
}

.sublead {
    font-size: 2em;
    @media screen and (max-width: $small-screen) {
        font-size: 1.5em;
    }
    position: relative;
    width: fit-content;
    // Show a blinking cursor to the right of the text
    &::after {
        // Code for cursor like "|"
        // content: "";
        // position: absolute;
        // top: -50%;
        // right: -.4em;
        // display: block;
        // transform: translateY(50%);
        // height: 100%;
        // width: .1em;
        // background: wheat;
        // z-index: 1;
        // animation: blink .5s linear infinite;
        // Code for cursor like "_"
        content: "";
        position: absolute;
        bottom: .3em;
        right: -.4em;
        display: block;
        width: .4em;
        height: .1em;
        background: wheat;
        z-index: 1;
        animation: blink .5s linear infinite;
    }
}

#experience-header {
    // this word is super long so it needs to be a little smaller for
    // Some phones
    @media screen and (max-width: $small-screen) {
        font-size: 4.5em;
    }
    position: relative;
}

.caps {
    text-transform: uppercase;
}

a {
    transition: transform ease 200ms;
    color: inherit;
    &:hover {
        transform: scale(1.1);
    }
}

// ! Snapable area
.main-container {
    width: 100vw;
    height: 100vh;
    /* background-color: var(--clr-neutral-800); */
    /* snapping */
    scroll-snap-type: y;
    overflow-y: scroll;
    overflow-x: hidden;
    // Make a little  bar in between each of the sections 
    &>section::after {
        $size: calc(min(25em, 50%));
        position: absolute;
        content: "";
        bottom: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: $size;
        background-color: $color-accent-500;
        height: 3px;
    }
    // Enable the scrolling behavior
    &>section {
        &>.section-container {
            /* width: calc(100% - 10em); */
            color: wheat;
            padding-left: 4em;
            padding-right: 2em;
            width: $center-width;
            margin: 0 auto;
            margin-bottom: 20px;
            position: relative;
            h1 {
                position: relative;
                left: -.6em;
            }
        }
        /* width: calc(100% - 10em); */
        /* Align all of the sections vertically */
        position: relative;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: center; */
        min-height: 100vh;
        width:100%;
        // padding-bottom: 2em;
        // margin: 0 auto;
        /* scrolling */
        scroll-snap-align: start;
    }
}

// ! Main (IE one with face) 
#main {
    padding-top: 3em;
    h1 {
        position: relative;
        left: 0;
    }
}

@import 'cards/all';
@import 'lineplot/all';
@import 'forms/all';
// --------------------------- Scrolling Animations
[data-inviewport="full-scale-in"] {
    transition: 3s;
    transform: scale(1.1);
}

[data-inviewport="full-scale-in"].is-inViewport {
    transform: scale(1);
}

[data-inviewport="section-anim-in"] {
    transition: 1s;
    transform: scale(0.9);
}

[data-inviewport="section-anim-in"].is-inViewport {
    transform: scale(1);
}

[data-inviewport="item-anim-in"] {
    transition: 1s;
    transform: scale(0.5);
}

[data-inviewport="item-anim-in"].is-inViewport {
    transform: scale(1);
}

[data-inviewport="item-anim-in-rise-in"] {
    transition: 1s;
    transform: translateY(10%);
    opacity: 0;
}

[data-inviewport="item-anim-in-rise-in"].is-inViewport {
    transform: translateY(0);
    opacity: 1;
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: .01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: .01ms !important;
        scroll-behavior: auto !important;
        transition-delay: 0ms !important;
    }
}

// Floating footer
@keyframes splash {
    from {
        height: 100vh;
    }
    to {
        height: 25px;
        bottom: 0px;
    }
}

@keyframes splash-full {
    from {
        height: 100vh;
    }
    to {
        height: 0px;
    }
}

@keyframes wave {
    from {
        transform: translate(0, 0, 0) scale(1)
    }
    25% {
        transform: translateX(-25%) scaleY(.6);
    }
    60% {
        transform: translateX(-50%) scaleY(1);
    }
    80% {
        transform: scaleY(1.3);
    }
    to {
        transform: translate(0, 0, 0) scale(1)
    }
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    &>div {
        position: absolute;
        bottom: 0;
        // Animation stuff
        width: 200vw;
        height: 100vh;
        $anim-time: 1s;
        // background-repeat: repeat-x;
        // background-size: 100% 75px;
        // transform-origin: bottom left;
        $transition: ease;
        &#first-foot {
            $del: 100ms;
            background-color: $color-accent-400;
            animation: splash-full $anim-time normal forwards $transition #{$del};
            // invis .1ms normal forwards ease-in-out calc(#{$del} + #{$anim-time});
            z-index: 10;
        }
        &#second-foot {
            $del: 400ms;
            background-color: $color-accent-500;
            animation: splash-full $anim-time normal forwards $transition #{$del};
            // invis .1ms normal forwards ease-in-out calc(#{$del} + #{$anim-time});
            z-index: 9;
        }
        &#third-foot {
            $del: 700ms;
            background-color: $color-accent-600;
            animation: splash $anim-time normal forwards $transition #{$del};
            z-index: 8;
        }
    }
}