// Resize friendly
@import 'colors';
$center-width: calc(min(1000px, 90%));
*,
*::before,
*::after {
    box-sizing: border-box;
}

// ! General Styles
body {
    font-family: monospace;
    height: 100vh;
    width: 100vw;
    line-height: 1.6;
    background-color: $color-nuetral-500;
    color: $color-accent-100;
    overflow: hidden;
}

h1 {
    font-size: 10em;
    padding: 0px;
    padding-left: 12px;
    margin-top: .05em;
    margin-bottom: 0px;
    color: $color-accent-100;
    text-transform: uppercase;
}

.accent {
    color: $color-accent-500
}

.sublead {
    font-size: 2em;
}

.caps {
    text-transform: uppercase;
}

// ! Snapable area
.main-container {
    width: 100vw;
    height: 100vh;
    /* background-color: var(--clr-neutral-800); */
    /* snapping */
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    overflow-x: hidden;
    // Make a little  bar in between each of the sections 
    &>section::after {
        $size: calc(min(25em, 50%));
        position: absolute;
        content: "";
        bottom: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        width: $size;
        background-color: $color-accent-500;
        height: 3px;
    }
    // Enable the scrolling behavior
    &>section {
        &>.section-container {
            /* width: calc(100% - 10em); */
            color: wheat;
            padding-left: 4em;
            padding-right: 2em;
            width: $center-width;
            margin: 0 auto;
            h1 {
                position: relative;
                left: -.5em;
                // Add typer at end of each header
                // &::after {
                //     content: "";
                //     position: absolute;
                //     right: 1rem;
                //     top: 50%;
                //     display: block;
                //     transform: translateY(50%);
                //     height: 50%;
                //     width: .2rem;
                //     background: $color-accent-800;
                //     z-index: -1;
                //     // transform-origin: center;
                //     // transition: transform 750ms ease;
                // }
            }
        }
        /* width: calc(100% - 10em); */
        /* Align all of the sections vertically */
        position: relative;
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        /* justify-content: center; */
        min-height: 100vh;
        width:100%;
        padding-bottom: 5em;
        // margin: 0 auto;
        /* scrolling */
        scroll-snap-align: start;
    }
}

// ! Main (IE one with face) 
#main {
    background-image: url(../images/richard-horvath-_nWaeTF6qo0-unsplash.jpg);
}

@import 'cards';